<!DOCTYPE html>
<html>

<body style="background-color:#E0E6F8;">

</body>

</html>
<h1> Hello!</h1>
<h3>Here is the newest article from BUZZFEED's</h3>
</a><a href="http://buzzfeed.com/lol" target="_blank"><p>
 <img src="http://www.thegreatgonzo.net/wp-content/uploads/2013/12/LOL-feed.png" />
</a> 

<p> <h2><%= @buzz.title%></h2> </p> 
<h4><%= @buzz.description%></h4>
<h3> click this link to read the article! <p>
	<%= @buzz.post_link%> </h3>
<img src="http://www.sadanduseless.com/wp-content/uploads/2013/03/dog.jpg" />